SABY_APP_CLIENT_ID=your_saby_app_client_id
SABY_APP_SECRET=your_saby_app_secret
SABY_SECRET_KEY=your_saby_secret_key

SABY_POINT_ID=277
SABY_PRICE_LIST_ID=6

SHOP_URL=https://scrocca-order.tilda.ws/scrocca_order_kalyan

WEBHOOK_SECRET=change_this_to_long_random_secret

DRY_RUN=false
REGISTER_PAYMENT_ENABLED=false
